* { box-sizing:border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

/* HEADER */

.header a:hover {
    opacity: 50%;
}

.header a:active {
    opacity: 20%;
}

.search {
    margin-right: 23px;
}

.contact-link {
    font-weight: bold;
    text-transform: uppercase;
    color: #1E0606;
    font-size: 14px;
}

/* font-family: 'Crimson Text', serif;
font-family: 'Montserrat', sans-serif; ---- чтобы не забыть */
a {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    width: 100%;
}

.undotted {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs {
    font-family: 'Crimson Text';
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    position: relative;
    margin-right: 48px;
}

.svg::after {
    background-image: url(../images/breadcrumbs.svg);
    content: '';
    position: absolute;
    width: 8px;
    height: 12px;
    color: #1E0606;
    top: 7px;
    left: 64px;
}

.grey {
    opacity: 50%;
}


.hidden-title {
    font-size: 0;
    line-height: 0;
    width: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    text-transform: uppercase;
}
    /* Font family: Montserrat
Font style: Bold
Font size: 40px
Line height: 44px
Line height: 110%
Align: Left
Vertical align: Top
Fill Color Style: Black
Fill: Solid
#1E0606 */


/* CATEGORY PRODUCTS */

.category_1 {
    background-image: url(../images/products/product1.jpg);
}
.category_2 {
    background-image: url(../images/products/product2.jpg)
}
.category_3 {
    background-image: url(../images/products/product3.jpg)
}
.category_4 {
    background-image: url(../images/products/product4.jpg)
}
.category_5 {
    background-image: url(../images/products/product5.jpg)
}
.category_6 {
    background-image: url(../images/products/product6.jpg)
}

.category_products li {
    width: 280px;
    height: 270px;
    text-align: center;
    padding: 127px 0;
}

.category_products {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.category_products li:first-child a {
    position: absolute;
    top: 104px;
    left: 73px;
}
.category_products li:nth-child(2) a  {
    position: absolute;
    left: 380px;
    top: 105px;
}


.category_products a {
    color: #fff;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    font-family: 'Montserrat';
}

.button {
    font-weight: 700;
    color: #fff;
    background: #000;
    padding: 9px 22px;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    border: none;
}

.link_button {
    font-weight: 700;
    color: #fff;
    background: #000;
    padding: 9px 22px;
    display: inline-block;
    text-transform: uppercase;
}
.header {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

.header-menu {
    margin: 0 auto 0 60px;
}

.header-list {
    display: flex;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    text-transform: uppercase;
}

.header-list a {
    color: #1E0606;
    margin-right: 21px;
}



/* FOOTER */

.footer {
    background-color: #434343;
    margin: 155px auto 0;
}

.footer-upper-part {
    display:flex;
    justify-content: space-between;
    border-bottom: #666666;
    border-width: 1px;
    border-bottom-style: solid;

}

.footer-column {
    vertical-align: top;
    width: 380px;
}

.footer a {
    color: #fff;
    margin-top: 17px;
}

.social-line a {
    margin-right: 10px;
}
.footer_title {
    color: #AAAAAA;
    margin: 104px auto 52px;
    border-bottom: #666666;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 23px;
}

.footer-bottom-line {
    color: #fff;
    width: 380px;
    margin-bottom: 100px;
}

.footer-links {
    padding-bottom: 20px;
    margin-top: -25px;
}
.footer-links li {
    margin-bottom: 15px;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-form {
    display: flex;
    opacity: 80%;
    margin-top: -27px;
}

.footer-form input {
    background-color: #666666;
}

.footer ::placeholder {
    color: #EBEBEB;
}

.footer input {
    padding: 7px 0 7px 20px;
    width: 300px;
}

.social-line {
    display: flex;
}

/* INPUT */

label {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 3px;
}

input, 
textarea {
    border: 1px solid #00000033;
    font-size: 18px;
    line-height: 25px;
    padding: 14px 0 11px 20px;
    resize: none;
    outline: none;
}

input:focus, 
textarea:focus {
    border: 1px solid #C29974
}

textarea {
    max-height: 150px;
}

.label-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.field-2-columns {
    display: flex;
    justify-content: space-between;
}

.field-2-columns .label-wrapper {
    width: 290px;
}

.checkbox-input, .radio-input, .radio-input2, .radio-input-amount1, .radio-input-amount2, .radio-input-amount3 {
    display: none;
}

.radio-label, .radio-label2, .radio-label-amount-1, .radio-label-amount-2, .radio-label-amount-3, .checkbox-label {
    cursor: pointer;
}

.checkbox-label {
    position: relative;
    padding-left: 29px;
    letter-spacing: 1px;
}

.checkbox-label::before, .radio-label::before  {
    content: '';
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    border: 2px solid #C29974;
    border-radius: 3px;
    top: 0;
    left: 0;
}

.checkbox-label::after, .radio-label::after  {
    content: '';
    background-image: url(../images/contact/tick.svg);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 17px;
    height: 18px;
    color:#C29974;
    top: 1px;
    left: 2px;
    opacity: 0;
}

.radio-label::before, .radio-label2::before  {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 1px;
    left: 2px;
}

.radio-label::after, .radio-label2::after  {
    background-color: #C29974;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 3px;
    top: 2px;
    left: 3px;
}

.radio-label2::before {
    content: '';
    position: absolute;
    display: block;
    border: 2px solid #C29974;
    top: 33px;
    left: 2px;
}

.radio-label2::after {
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    color:#C29974;
    top: 34px;
    left: 3px;
    opacity: 0;
}


.radio-input:checked + .radio-label::after {
    opacity: 1;
}

.radio-input2:checked + .radio-label2::after {
    opacity: 1;
}

.contact-form .button {
    margin-top: 17px;
}

.checkbox-input:checked + .checkbox-label::after {
    opacity: 1;
}

/* .amount-range li {
    margin-top: 8px;
    margin-left: 29px;
    width: 26%;
} */

