

.contact-title {
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 48.76px;
    text-transform: uppercase;
    color: #1E0606;
    margin-bottom: 15px;
    letter-spacing: 1.4px;
}

.contact-form {
    width: 680px;
    background: #E5EAF8;
    padding: 42px 40px;
}

.form-and-text {
    margin-top: 50px;
}

.form-and-text {
    display: flex;
}

.text-right {
    width: 32%;
    margin-left: 123px;
}

.text-right p:first-child {
    margin-top: 0
}

.text-right p:nth-child(3) { 
    font-family: 'Montserrat';
    font-size: 26px;
    line-height: 34px;
    color: #C29974;
    text-transform: uppercase;
}

.footer {
    margin-top: 60px;
}


form button:hover {
    background-color: #C29974
}
    
form button:active {
    background-color: #CFAF91
}
    
form button:disabled {
    background-color: #C7C1C1;
}
